@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Nunito:wght@400;500;600&family=Poppins&display=swap");

.head {
    height: 100%;
    width: 100%;
    padding: 32px 69px;
    display: flex;
    align-items: center;
    background: #5c9c5c;
}

.leadership .head h1 {
    width: 100%;
    text-align: center;
    color: #f6f6f6;
    font-size: 21px;
}

.contact__us {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
}

.contact__us form {
    border: 1px solid #5c9c5c;
    padding: 24px;
}

.contact__us form .user__name {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.contact__us form .user__name h3 {
    font-size: 15px;
    color: #2a2a2a;
    font-weight: 500;
    padding: 7px 0;
}

.contact__us form .user__name input {
    padding: 0 10px;
    height: 34px;
    width: 345px;
    font-size: 14px;
    border: 1px solid #818181;
    color: #2a2a2a;
    font-weight: 500;
    border-radius: 4px;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.contact__us form .email {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.contact__us form .email h3 {
    font-size: 15px;
    color: #2a2a2a;
    font-weight: 500;
    padding: 5px 0;
}

.contact__us form .email input {
    padding: 0 10px;
    height: 34px;
    width: 345px;
    font-size: 14px;
    border: 1px solid #818181;
    color: #2a2a2a;
    font-weight: 500;
    border-radius: 4px;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.contact__us form .join {
    display: flex;
    align-items: center;
}

.contact__us form .join h3 {
    font-size: 15px;
    color: #2a2a2a;
    font-weight: 500;
    padding: 0 0 0 7px;
}

.contact__us form .join input {
    height: 34px;
    font-size: 14px;
    border: 1px solid #818181;
    color: #2a2a2a;
    font-weight: 500;
    border-radius: 4px;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.contact__us form .join input::after {
    color: #5c9c5c;
}

.contact__us form .message {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.contact__us form .message h3 {
    font-size: 15px;
    color: #2a2a2a;
    font-weight: 500;
    padding: 5px 0;
}

.contact__us form .message textarea {
    padding: 3px 10px;
    width: 345px;
    font-size: 14px;
    border: 1px solid #818181;
    color: #2a2a2a;
    font-weight: 500;
    border-radius: 4px;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.submit {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.submit input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 38px;
    border-radius: 5px;
    background: #5c9c5c;
    color: #f6f6f6;
    font-size: 15px;
    cursor: pointer;
    border: none;
}