@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Nunito:wght@400;500;600&family=Poppins&display=swap");

:root {
    --bg-primary: #ffffff;
    --bg-second: #f8f8f8;
    --color-primary: #2a2a2a;
    --color-sec: #047aeb;
    --text-color: #868686;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	/* font-smoothing: antialiased; */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 45px;
    height: 63px;
    position: relative;
    box-shadow: rgba(86, 88, 89, 0.2) 0px 7px 25px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 66px;
    height: 46px;
}

.logo h3 {
    font-size: 20px;
    font-weight: 600;
    color: #2a2a2a;
}

.links {
    display: flex;
    align-items: center;
}

.links a {
    padding: 0 10px;
    font-size: 14.2px;
    color: var(--color-primary);
}

.links p {
    padding: 0 10px;
    font-size: 14.2px;
    color: var(--color-primary);
    cursor: pointer;
}

.join {
    display: flex;
    align-items: center;
}

.join input {
    width: 105px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid #5c9c5c;
    color: #5c9c5c;
    background: transparent;
    font-size: 15px;
    cursor: pointer;
}

.join input:hover {
    background: #5c9c5c;
    color: #ffffff;
}

.event__card {
    height: 80px;
    min-width: 160px;
    box-shadow: rgba(86, 88, 89, 0.3) 0px 7px 25px;
    padding: 12px;
    position: absolute;
    z-index: 99;
    top: 56px;
    font-size: 15px;
    left: 933px;
    background: #ffffff;
    border-radius: 4px;
    display: none;
}

.visibility {
    display: block;
}

.event__card a {
    text-align: center;
    font-size: 14.2px;
    color: var(--color-primary);
    font-weight: bold;
}

.confern {
    height: 50%;
}

.workshop {
    height: 50%;
}

/* === membership === */
.membership__card {
    height: 80px;
    min-width: 160px;
    box-shadow: rgba(86, 88, 89, 0.3) 0px 7px 25px;
    padding: 12px;
    position: absolute;
    z-index: 99;
    top: 56px;
    font-size: 15px;
    left: 733px;
    background: #ffffff;
    border-radius: 4px;
    display: none;
}

.visibility {
    display: block;
}

.membership__card a {
    text-align: center;
    font-size: 14.2px;
    color: var(--color-primary);
    font-weight: bold;
}

.workers {
    height: 50%;
}

.student {
    height: 50%;
}
/* === end membership === */

.hero {
    background: url(/images/lag.JPG) no-repeat;
    background-position: center;
    background-size: cover;
    height: 620px;
    z-index: 0;
transition: 0.8s ease-in-out;
}

.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 620px;
    background: rgba(0, 0, 0, 0.6)
}

.desc {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
}

.hero h1 {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 49px;
    color: #ffffff;
}

.hero .desc h1 span {
    display: flex;
    align-items: center;
    color: #5c9c5c;
}

.hero .desc h1 span h3 {
    color: #fb7777;
}

.who {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 17px 69px;
}

.who_we_are {
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 32px;
}

.who_we_are .desc__title h1 {
    font-size: 32px;
    font-weight: bolder;
    padding: 13px 0;
    color: var(--color-primary);
}

.who__images {
    width: calc(100% - (100% / 2));
}

.who__images .image {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image .img {
    width: 114px;
    height: 115px;
    box-shadow: rgba(86, 88, 89, 0.3) 0px 7px 25px;
}

.mission__vision {
    width: 100%;
    padding: 62px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* align-items: center; */
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    gap: 23px;
}

.cardo {
    width: 389px;
    height: 424px;
    box-shadow: rgba(86, 88, 89, 0.3) 0px 7px 25px;
    border-radius: 6px;
}

.mission {
    display: flex;
    flex-direction: column;
    background: #c98181;
    padding: 12px;

}

.mission h3 {
    text-align: center;
    font-size: 29px;
    padding: 19px 0;
    color: #2a2a2a;
}

.vision {
    display: flex;
    flex-direction: column;
    background: #eded91;
    padding: 12px;
}

.vision h3 {
    text-align: center;
    font-size: 29px;
    padding: 19px 0;
    color: #2a2a2a;
}

.history {
    display: flex;
    flex-direction: column;
    background: #8fde8f;
    padding: 12px;
}

.history h3 {
    text-align: center;
    font-size: 29px;
    padding: 19px 0;
    color: #2a2a2a;
}

.contact {
    width: 100%;
    display: flex;
    align-items: center;
    background: #f5f6fa;
    padding: 0px 0px 0 69px;
}

.headings {
    padding: 0 0 0 23px;
}

.form {
    width: 100%;
    padding: 55px 0px;
}

.names {
    width: 100%;
    display: flex;
    padding: 15px 25px 0 25px; 
}

.names input {
    width: 245px;
    min-height: 35px;
    padding: 3px;
    outline: none;
    border: 1px solid #868686;
    font-weight: 550;
    border-radius: 4px;
}

.first__name {
    padding: 0 37px 0 0;
}

.first__name h3 {
    font-size: 14px;
    color: #4c4c4c;
    font-weight: 500;
    padding-bottom: 5px;
}

.last__name {
    padding: 0 37px 0 0;
}

.last__name h3 {
    font-size: 14px;
    color: #4c4c4c;
    font-weight: 500;
    padding-bottom: 5px;
}

.credent {
    width: 100%;
    display: flex;
    padding: 15px 25px 0 25px; 
}

.credent input {
    width: 245px;
    min-height: 35px;
    padding: 3px;
    outline: none;
    border: 1px solid #868686;
    border-radius: 4px;
}

.email__us {
    padding: 0 37px 0 0;
}

.email__us h3 {
    font-size: 14px;
    color: #4c4c4c;
    font-weight: 500;
    padding-bottom: 5px;
}

.phone__number {
    padding: 0 37px 0 0;
}

.phone__number input {
    width: 245px;
}

.phone__number h3 {
    font-size: 14px;
    color: #4c4c4c;
    font-weight: 500;
    padding-bottom: 5px;
}

.drop {
    display: flex;
    align-items: center;
}

.drop select {
    width: 45px;
    min-height: 35px;
    border: 1px solid #4c4c4c;
    border-top-left-radius: 4px;
    outline: none;
    border-bottom-left-radius: 4px;
    font-weight: 500;
    border-right: none;
}

/* Your existing styles */
.flag {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.custom-option {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.contact__image {
    width: 100%;
    height: auto;
}

.contact__image img {
    width: 100%;
}

.message h3 {
    font-size: 14px;
    color: #4c4c4c;
    font-weight: 500;
    padding-bottom: 5px;
}

.message {
    width: 100%;
    padding: 15px 88px 0 25px;
}

.message textarea {
    width: 47%;
    outline: none;
    border: 1px solid #4c4c4c;
    border-radius: 4px;
    padding: 5px;
}

.submit {
    padding: 15px 25px 0 25px;
}

.submit input {
    width: 150px;
    min-height: 35px;
    outline: none;
    border-radius: 4px;
    background: #5c9c5c;
    font-family: 'Nunito', sans-serif;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

@media screen {
    
}
